/*
Fuente utilizada:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
Colores utilizados:  #292138 - #ffffff - #fcfcee - #cccccc
*/

h1{
    
    position: relative;
    bottom: -20px;

}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.entradaTitulo a{
    
   text-decoration: none;
   position: relative;
  
}
.webpageMenu{
    
    background-color: #292138;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border: 1px solid #292138;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
    
    }
    .imagenAutor {
        width:40px;
        height:40px;
        float:left;
        margin-right:13px;
        border-radius:100%;
    }

    .entradaContendor{
        padding:1.25rem;
        position:relative;
        margin-bottom:1.25rem;
        width: 200px;
        top: 0px;
    }
    .entradaContendor5{
        padding:1.25rem;
        position:relative;
        margin-bottom:1.25rem;
        width: 200px;
        top: 0px;
    }

    .entradaContendor3{
        padding:1.25rem;
        position:relative;
        margin-bottom:1.25rem;
        width: 200px;
        top: 0px;
    }
    .entradaContendor4{
        padding:1.25rem;
        position:relative;
        margin-bottom:1.25rem;
        width: 200px;
      
        
    
    }
    
    .Secciones{
        position: relative;
        bottom: -600px;
        right: 300px;
    }
    
    
    
    .entradaContendor2{
        padding:1.25rem;
        position:relative;
        margin-bottom:1.25rem;
        width: 200px;
        top:px;
        left: 0px;
        
    }
    .entradaTitulo {
        font-size:1.3rem;
        font-weight:700;
        line-height: 1.25;
    }
.fecha {
  color: #000000;
  font-size: 12px;
}

    .AutoresEntrada{
        flex:1 1 auto;
	
	
    }
    .nombre{
        display: inline-block;
        color: #000;
    }
    .lectura{
        border: 5px solid #ffffff;
        color: #ffffff;
    }	

    
    

    .borderEntrada{position:relative;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        
        flex-direction:column;
        background-color:#fcfcee;border:1px solid #292138;
        width:300px;
        border-radius:.25rem;
        top: 60px;

    }
    .borderEntrada3{position:relative;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        
        flex-direction:column;
        background-color:#fcfcee;border:1px solid #292138;
        width:300px;
        border-radius:.25rem;
        top: -60px;
        right: -40px;

    }
        .borderEntrada2{position:relative;
            display:-webkit-box;
            display:-webkit-flex;
            display:-ms-flexbox;
            display:flex;
            
            flex-direction:column;
            background-color:#fcfcee;border:1px solid #292138;
            width: 300px;
            border-radius:.25rem;
            top: -500px;
            
            left: 350px;
        }
        .borderEntrada4{position:relative;
            display:-webkit-box;
            display:-webkit-flex;
            display:-ms-flexbox;
            display:flex;
            
            flex-direction:column;
            background-color:#fcfcee;border:1px solid #292138;
            width: 300px;
            height: 500px;
            border-radius:.25rem;
            top: -576px;
            right: -500px; ;
        }
        .borderEntrada10{position:relative;
            display:-webkit-box;
            display:-webkit-flex;
            display:-ms-flexbox;
            display:flex;
            
            flex-direction:column;
            background-color:#fcfcee;border:1px solid #292138;
            width: 300px;
            height: 500px;
            border-radius:.25rem;
            top: 150px;
            right: 900px;
        }
        .borderEntrada5{position:relative;
            display:-webkit-box;
            display:-webkit-flex;
            display:-ms-flexbox;
            display:flex;
            
            flex-direction:column;
            background-color:#fcfcee;border:1px solid #292138;
            width: 300px;
            border-radius:.25rem;
            top: 30px;
            left:-900px ;
            height: 540px;
        }
        .borderEntrada9{position:relative;
            display:-webkit-box;
            display:-webkit-flex;
            display:-ms-flexbox;
            display:flex;
            
            flex-direction:column;
            background-color:#fcfcee;border:1px solid #292138;
            width: 300px;
            border-radius:.25rem;
            top: -420px;
            left:350px ;
            height: 450px;
        }
        h4{
            justify-content: center;
        }
        .section-title span {
            border-bottom:1px solid #292138;
            display:inline-block;
            padding-bottom:20px;
            margin-bottom:-1px;
            font-size:1.3rem;
            position: relative;
            bottom: -90px;
            right: -60px;
        }
     
        .Secciones{
            background-color: #ffffff;
            align-content: center;
            height: 1300px;
        }
        .entradas{
          position: relative;
          right: -40px;
          height: 20px;
        }
        .entradas2{
            position: relative;
            right: -750px;
            bottom: 957px;
          }
      
    
    .webpageMenu a:hover{
    
    color: #ffffff;
    background-color: #292138;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
   
   
    }
    
    .webpageMenu a:active{
    
    color: #292138;
    background-color: #ffffff;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
    border: 1px solid #292138;
    border-radius: 5px;
    }
    

    
    .webpageMenu a:link{
    
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
   
    }
    


.webpageMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.webpageMenu li{
    display: inline-block;
    position: relative;
}

.webpageMenu li a{
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.webpageMenu li ul{
    position: absolute;
    top: 100%;
    display: none;
   
}
.webpageMenu li:hover ul {
    display: block;
    background-color: #292138;  
   
    /*#cccccc
    #292138*/
}

#final{
    background-color:#cccccc;
    font-style: normal;
  
	padding-top:15px;
	padding-bottom:12px;
	font-size:0.8rem;
	color:#292138;
	margin-top:50px;

}

.fotoIntegrantes{
    
}



  

